{% extends "layout.njk" %}

{% block head %}

 <title>Foodfy - {{items.title}}</title>

 
{% endblock %}

{% block content %}
        <section>
            <div class="banner">
                <div class="banner_text">
                    <div class="banner_title">
                        <h1>As melhores receitas</h1>
                    </div>
                    <div class="banner_info">
                        <p>
                            Aprenda a construir os melhores pratos com receitas
                            criadas por profissionais do mundo inteiro.
                        </p>
                    </div>
                </div>
                <div class="banner_image">
                    <img src="/assets/chef.png" alt="" />
                </div>
            </div>
        </section>
        <div class="wrapper">
            <h1>Mais acessadas</h1>
        </div>
        <main>
            <div class="cards">
                <div class="card_image-container">
                    <img src="/assets/burger.png" alt="" />
                </div>
                <div class="card_text-container">
                    <h2>Triplo Bacon Burger</h2>
                </div>
                <div class="card_info">
                    <p>por Jorge Relato</p>
                </div>
            </div>

            <div class="cards">
                <div class="card_image-container">
                    <img src="/assets/pizza.png" alt="" />

                    <div class="card_text-container">
                        <h2>Pizza 4 estações</h2>
                    </div>
                    <div class="card_info">
                        <p>por Fabiana melhores</p>
                    </div>
                </div>
            </div>

            <div class="cards">
                <div class="card_image-container">
                    <img src="/assets/espaguete.png" alt="" />
                </div>
                <div class="card_text-container">
                    <h2>Espaguete</h2>
                </div>
                <div class="card_info">
                    <p>por Júlia Kinoto</p>
                </div>
            </div>

            <div class="cards">
                <div class="card_image-container">
                    <img src="/assets/lasanha.png" alt="" />
                </div>
                <div class="card_text-container">
                    <h2>Lazanha mac n'cheese</h2>
                </div>
                <div class="card_info">
                    <p>por Juliano Vieira</p>
                </div>
            </div>

            <div class="cards">
                <div class="card_image-container">
                    <img src="/assets/doce.png" alt="" />
                </div>
                <div class="card_text-container">
                    <h2>Docinhos pão-do-céu</h2>
                </div>
                <div class="card_info">
                    <p>por Ricardo Golvea</p>
                </div>
            </div>

            <div class="cards">
                <div class="card_image-container">
                    <img src="assets/asinhas.png" alt="" />
                </div>
                <div class="card_text-container">
                    <h2>Asinhas de frango ao barbecue</h2>
                </div>
                <div class="card_info">
                    <p>por Vania Steroski</p>
                </div>
            </div>
        </main>

        {% endblock %}

