<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Foodfy - As melhores receitas</title>
  </head>

  <body>
    <header>
      <div class="links">
        <a href="/">
          <img src="/assets/logo.png" alt="" />
        </a>
        <a href="/">Sobre</a>
        <a href="/receitas"><span>Receitas</span></a>
      </div>
    </header>

    <div class="recipe">
      <div class="recipeCard">
        <div class="recipeCard_image-container">
          <img src="/assets/burger.png" alt="" />
        </div>
        <div class="recipeCard_Title-container">
          <h1>Triplo Bacon Burger</h1>
          <div class="recipeCard_info">
            <p>por Jorge Relato</p>
          </div>
        </div>

        <div class="recipeCardTexts">
          <h2 class="recipeCard_Title">Ingredientes</h2>
          <span>Esconder</span>
        </div>
        <ul class="recipeText-ul">
          <li>3 kg de carne moída (escolha uma carne magra e macia)</li>
          <li>300 g de bacon moído</li>
          <li>1 ovo</li>
          <li>3 colheres (sopa) de farinha de trigo</li>
          <li>
            3 colheres (sopa) de tempero caseiro: feito com alho, sal, cebola,
            pimenta e cheiro verde processados no liquidificador
          </li>
          <li>30 ml de água gelada</li>
        </ul>
        <div class="recipeCardTexts">
          <h2 class="recipeCard_Title">Modo de preparo</h2>
          <span>Mostrar</span>
        </div>

        <div class="recipeCardTexts">
          <h2 class="recipeCard_Title">Informações adicionais</h2>
          <span>Esconder</span>
        </div>
        <p>
          Preaqueça a chapa, frigideira ou grelha por 10 minutos antes de levar
          os hambúrgueres. Adicione um pouquinho de óleo ou manteiga e não
          amasse os hambúrgueres! \n\n Você sabia que a receita que precede o
          hambúrguer surgiu no século XIII, na Europa? A ideia de moer a carne
          chegou em Hamburgo no século XVII, onde um açogueiro resolveu também
          temperá-la. Assim, a receita foi disseminada nos Estados Unidos por
          alemães da região. Lá surgiu a ideia de colocar o hambúrguer no meio
          do pão e adicionar outros ingredientes, como queijom tomates e alface.
        </p>
      </div>
    </div>

    <footer>
      <p>Todos os direitos reservados, receitas Foodfy.</p>
    </footer>
  </body>
</html>
